// ******************** 交易头部栏 ******************** //
$trade_header_height: 18%;

// ******************** 交易历史栏 ******************** //
$trade_history_height: 100% - $trade_header_height;

$trade_history_item_height: 18%;
$trade_history_item_radius: 10px;
